body{
    background-color: slategray;
}

#textBox{
    width: 90%;
    height: 150px;
    margin: 500px auto 0;
    background-color: rgba(0, 0, 0, 0.5);
    border:3px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 15px;
}

.textBox-name{
    color: white;
    font-size: 14px;
}

.textBox-text{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    color: white;
    font-size: 12px;
}